{% extends "base.html" %}

{% block content %}
      <h1>
    Username: {{ cooks.username }}

    <a href="{% url "kitchen:cook-delete" pk=cooks.id %}" class="btn btn-outline-danger" role="button">Delete</a>
  </h1>

    <p>
      <strong>Username: </strong>{{ cooks.username }}<br>
      <strong>Years of experience: </strong> {{ cooks.years_of_experience }}
    <strong>Years of experience:</strong> {{ cooks.years_of_experience }}
    <a href="{% url "kitchen:cook-update" pk=cooks.id %}" class="btn btn-outline-secondary" role="button">Edit years of experience</a>
    </p>

  {% if cooks.dishes.all %}
    <h2>Dishes:</h2>

    {% for dish in cooks.dishes.all %}
        <ul>
          <li class="list_item">
            <div class="item_content">
              <p>
                <strong>Types of dishes:</strong>
                {{ dish.dish_type.name }}<br>
                <strong>Name: </strong>
                <a href="{% url 'kitchen:dish-detail' pk=dish.id %}">{{ dish.name }}</a>
              </p>
            </div>
          </li>
        </ul>
    {% endfor %}

  {% else %}
    <p>This cook does not have a dish</p>
  {% endif %}

{% endblock %}
