{% extends "base.html" %}

{% block content %}
  <h1>
    Cooks
  </h1>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Name</th>
        <th scope="col">Last name</th>
        <th scope="col">Year of experience</th>
      </tr>
      </thead>
      <tbody>
      {% if cook_list %}
        {% for cook in cook_list %}
          <tr>
            <tr>
            <th scope="col">
           <a href="{% url 'kitchen:cook-detail' pk=cook.id %}">{{ cook.username }}</a>
            </th>
            <td>{{ cook.first_name }} </td>
            <td>{{ cook.last_name }} </td>
            <td>{{ cook.years_of_experience }}</td>
          </tr>
        {% endfor %}
      {% else %}
        <th scope="col">There are not cooks</th>
      {% endif %}
      </tbody>
    </table>
{% endblock %}