{% extends "base.html" %}

{% block content %}
  <h1>
    Types of dishes
  <a href="{% url 'kitchen:dish-type-create' %}" class="action-button">&nbsp+&nbsp</a>
  </h1>
  {% if dishes_type_list %}
      <table class="table table-bordered">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
        {% for types in dishes_type_list %}
          <tbody>
          <tr>
            <td>{{ types.id }}</td>
            <td>{{ types.name }}</td>
            <td>
              <a href="{% url 'kitchen:dish-type-update' pk=types.id %}">Update</a>
              </a>
            </td>
            <td>
              <a href="{% url 'kitchen:dish-type-delete' pk=types.id %}">Delete</a>
            </td>

          </tr>
          </tbody>
        {% endfor %}
      </table>
  {% else %}
    <p>There are no dish types</p>
  {% endif %}
{% endblock %}