{% extends "base.html" %}

{% block content %}
  <div style="text-shadow: 0px 0px 5px black, 0 2px 2px black,
				-2px 0 2px black,
				0 -2px 2px black;">
    <h1>Restaurant Kitchen Service</h1>
    <h5>Welcome to the greatest Kitchen Service ever!</h5>
    <h2>Kitchen service content:</h2>
    <ul>
        <li>Number of dishes: {{ num_dishes }}</li>
        <li>Number of cooks: {{ num_cooks }}</li>
        <li>Number of dishes type: {{ num_dish_types }}</li>
    </ul>
  <p>You have visited this page: {{ num_visits }} time{{ num_visits|pluralize }}.</p>
  </div>
{% endblock %}
